.ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 134px;
  height: 134px;
  background: url(http://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png);
  opacity: .7;
  -webkit-transition: opacity .5s linear;
          transition: opacity .5s linear;
}

.ribbon:hover {
  opacity: 1;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron img {
  height: 60px;
  padding-right: 8px;
}

.page-header h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

li img {
  height: 20px;
  padding-right: 8px;
}

label {
  font-weight: normal;
}

canvas {
  width: 100%;
  height: 800px;
}

.btn-group {
  display: inherit;
}

.btn-group > .btn {
  float: none;
}

.btn-group-x {
  overflow-x: scroll;
  white-space: nowrap;
}

footer {
  padding-top: 10px;
  margin: 10px 0;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
